---
import ArticleList from '../../components/ArticleList.astro';
import Aside from '../../components/Aside.astro';
import Categories from '../../components/Categories.astro';
import NavBarBlog from '../../components/NavBarBlog.astro';
import Layout from '../../layout/Layout.astro';
const title = 'Orealy';
const description =
  'Desarrolador web frontent, encuentra articulos, recursos y tutoriales sobre desarrollo web';
---

<Layout title={title} description={description}>
  <NavBarBlog />
  <main class="mt-9 mb-5">
    <div class="md:flex gap-5 items-start">
      <section class="md:w-8/12">
        <div class="mb-4">
          <h3
            class="text-primary-900 text-base font-extrabold md:text-xl mb-2 md:mb-4">
            ÚLTIMOS ARTICULOS
          </h3>
          <ArticleList />
        </div>
        <h3 class="text-primary-900 text-base font-extrabold md:text-xl">
          TODAS LAS CATEGORÍAS
        </h3>
        <Categories />
      </section>
      <Aside />
    </div>
  </main>
</Layout>
