---
import Layout from '../layout/Layout.astro';
import Home from '../components/Home.astro';
import AboutMe from '../components/AboutMe.astro';
import Projects from '../components/Projects.astro';
import LastArticles from '../components/LastArticles.astro';
const title = 'Orealy';
const description =
  'Apasionado por el desarrollo Web, creando interfaces de usuario actrativas, efectivas, de alta calidad y escala utilizando tecnologías moderna.';
---

<Layout title={title} description={description}>
  <Home />
  <main>
    <AboutMe />
    <Projects />
    <LastArticles />
  </main>
</Layout>
