---
import Layout from "../layout/Layout.astro";
import Home from "../components/Home.astro";
import AboutMe from "../components/AboutMe.astro";
import Projects from "../components/Projects.astro";
import LastArticles from "../components/LastArticles.astro";
---

<Layout title="Orealy">
  <Home />
  <main>
    <AboutMe />
    <Projects />
    <LastArticles />
  </main>
</Layout>

