---
---

<article
  class="flex items-center gap-3 md:gap-4 hover:bg-gray-100 p-2 transition-all cursor-pointer"
>
  <div class="w-[90px] md:w-[60px]">
    <img src="/languages/javascript.jpg" alt="javascript" class="w-full" />
  </div>
  <div class="grow">
    <div class="md:mb-1">
      <h3 class="text-sm md:text-xl font-bold mb-1 leading-5">
        ¿QUÉ ES EL THIS Y CÓMO FUNCIONA CALL APPLY Y BIND?
      </h3>
      <span class="text-sm text-primary-700">29 de diciembre 2022</span>
    </div>
  </div>
</article>
