---
import Article from './Article.astro';
import { CollectionEntry } from 'astro:content';

interface Props {
  articles: CollectionEntry<'blog'>[];
}
const { articles } = Astro.props as Props;
---

<section class="flex flex-col space-y-1">
  {
    articles.map(article => (
      <Article
        href={'/blog/posts/' + article.slug}
        title={article.data.title}
        created={article.data.created}
        image={article.data.image}
        categories={article.data.categories}
      />
    ))
  }
</section>
