---
import { getCollection } from 'astro:content';
import Article from './Article.astro';
const allArticles = await getCollection('blog');
---

<section>
  {
    allArticles.map(article => (
      <Article
        href={'blog/posts/' + article.slug}
        title={article.data.title}
        created={article.data.created}
        image={article.data.image}
        categories={article.data.categories}
      />
    ))
  }
</section>
