---
import Video from './Video.astro';
---

<aside class="mt-8 md:mt-0 w-full md:w-4/12">
  <h3 class="text-primary-900 text-base font-extrabold md:text-xl mb-2 md:mb-4">
    ÚLTIMO VIDEO
  </h3>
  <Video />
</aside>
