---
import Category from "./Category.astro";
---

<div class="mt-8">
  <h3 class="font-black text-primary-900 md:text-xl mb-4">
    ARTÍCULOS POR CATEGORÍAS
  </h3>

  <div class="flex gap-3 flex-wrap">
    <Category href="#" categorie="JAVASCRIPT" />
    <Category href="#" categorie="REACT" />
  </div>
</div>
