---
import Category from './Category.astro';
const posts = await Astro.glob('../pages/blog/post/*.mdx');
const categories: string[] = posts.flatMap(p => p.frontmatter.categories);
const moreCategories = ['html', 'css', 'react', 'javascript'];
const uniqueCategories: string[] = [...new Set([...moreCategories, ...categories])];
---

<div class="flex gap-3 flex-wrap mt-2">
  {
    uniqueCategories.map(category => (
      <Category href={`/category/${category}`} categorie={category.toUpperCase()} />
    ))
  }
</div>
