---
import Category from './Category.astro';
export const posts = await Astro.glob('../pages/blog/post/*.mdx');
export const categories: string[] = posts.flatMap(
  p => p.frontmatter.categories
);
export const moreCategories = ['html', 'css', 'react', 'javascript'];
export const uniqueCategories: string[] = [
  ...new Set([...moreCategories, ...categories]),
];
---

<div class="flex gap-3 flex-wrap mt-2">
  {
    uniqueCategories.map(category => (
      <Category
        href={`/category/${category}`}
        categorie={category.toUpperCase()}
      />
    ))
  }
</div>
