<footer class="my-5">
  <p class="flex justify-center items-center font-semibold text-slate-600">
    Hecho con <span class="text-red">❤</span>
    por
    <a
      href="https://github.com/Kevin04C"
      target="_blank"
      class="ml-1 text-blue-700 hover:underline">
      @orealy</a
    >
  </p>
</footer>
