---
import NavPortfolio from "./NavPortfolio.astro";
import Principal from "./Principal.astro";
---

<section class="mb-5">
  <div class="min-h-screen">
    <NavPortfolio />
    <Principal />
  </div>
</section>
