---
import { getCollection } from 'astro:content';
import ArticleList from './ArticleList.astro';
import { CollectionEntry } from 'astro:content';
const allArticles = await getCollection('blog');
const articles = allArticles.slice(0, 3);
---

<section class="mt-32 mb-20">
  <h3 class="text-3xl md:text-4xl font-extrabold text-primary-900 mb-10">ÚLTIMOS ARTÍCULOS</h3>
  <section class="mb-4">
    <ArticleList articles={articles as unknown as CollectionEntry<'blog'>[]} />
  </section>
  <a href="/blog" class="block hover:underline text-primary-700"> Ver más articulos</a>
</section>
