---
import SocialNetworking from "./SocialNetworking.astro";
---

<header>
  <nav class="py-5 flex md:flex-row items-center justify-between">
    <a class="font-black text-2xl" href="/blog">BLOG</a>
    <SocialNetworking />
  </nav>
</header>
