---
import { HamburgerBtn } from "../react/HamburgerBtn";
import { Button } from "../react/Button";
---

<header>
  <nav class="pt-5 flex md:flex-row items-center justify-between">
    <a class="font-black text-2xl" href="/">OREALY</a>

    <!-- Menu mobile -->
    <div class="md:hidden">
      <HamburgerBtn client:load />
    </div>

    <!-- Menu desktop -->
    <ul class="hidden md:flex gap-9">
      <li class="font-medium">
        <a href="#sobremi" class="hover:text-primary-900 transition-colors"
          >SOBRE MI</a
        >
      </li>
      <li class="font-medium">
        <a href="#skills" class="hover:text-primary-900 transition-colors"
          >SKILLS</a
        >
      </li>
      <li class="font-medium">
        <a href="#proyectos" class="hover:text-primary-900 transition-colors"
          >PROYECTOS</a
        >
      </li>
      <li>
        <Button href="/blog" text="Blog" type="primary" />
      </li>
    </ul>
  </nav>
</header>
