---
interface Props {
  style?: string;
}
const { style } = Astro.props;
---

<div class={style}>
  <ul class="flex gap-4 items-center">
    <li class="hover:scale-[1.2] hover:transition-transform">
      <a
        href="https://www.linkedin.com/in/kevin-orealy-c%C3%A9spedes-%C3%A1lvarez-943818242/"
        target="_blank"
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M20.447 20.452H16.893V14.883C16.893 13.555 16.866 11.846 15.041 11.846C13.188 11.846 12.905 13.291 12.905 14.785V20.452H9.351V9H12.765V10.561H12.811C13.288 9.661 14.448 8.711 16.181 8.711C19.782 8.711 20.448 11.081 20.448 14.166V20.452H20.447ZM5.337 7.433C4.193 7.433 3.274 6.507 3.274 5.368C3.274 4.23 4.194 3.305 5.337 3.305C6.477 3.305 7.401 4.23 7.401 5.368C7.401 6.507 6.476 7.433 5.337 7.433ZM7.119 20.452H3.555V9H7.119V20.452ZM22.225 0H1.771C0.792 0 0 0.774 0 1.729V22.271C0 23.227 0.792 24 1.771 24H22.222C23.2 24 24 23.227 24 22.271V1.729C24 0.774 23.2 0 22.222 0H22.225Z"
            fill="#0A66C2"></path>
        </svg>
      </a>
    </li>
    <li class="hover:scale-[1.2] hover:transition-transform">
      <a href="https://github.com/kevin04c">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12 0C5.37 0 0 5.373 0 12C0 17.303 3.438 21.8 8.205 23.385C8.805 23.498 9.025 23.127 9.025 22.808C9.025 22.523 9.015 21.768 9.01 20.768C5.672 21.492 4.968 19.158 4.968 19.158C4.422 17.773 3.633 17.403 3.633 17.403C2.546 16.659 3.717 16.674 3.717 16.674C4.922 16.758 5.555 17.91 5.555 17.91C6.625 19.745 8.364 19.215 9.05 18.908C9.158 18.132 9.467 17.603 9.81 17.303C7.145 17.003 4.344 15.971 4.344 11.373C4.344 10.063 4.809 8.993 5.579 8.153C5.444 7.85 5.039 6.63 5.684 4.977C5.684 4.977 6.689 4.655 8.984 6.207C9.944 5.94 10.964 5.808 11.984 5.802C13.004 5.808 14.024 5.94 14.984 6.207C17.264 4.655 18.269 4.977 18.269 4.977C18.914 6.63 18.509 7.85 18.389 8.153C19.154 8.993 19.619 10.063 19.619 11.373C19.619 15.983 16.814 16.998 14.144 17.293C14.564 17.653 14.954 18.389 14.954 19.513C14.954 21.119 14.939 22.409 14.939 22.799C14.939 23.114 15.149 23.489 15.764 23.369C20.565 21.795 24 17.295 24 12C24 5.373 18.627 0 12 0Z"
            fill="#181717"></path>
        </svg>
      </a>
    </li>
    <li class="hover:scale-[1.2] hover:transition-transform">
      <a href="https://www.instagram.com/orealy_04/" target="_blank">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12 0C8.74 0 8.333 0.015 7.053 0.072C5.775 0.132 4.905 0.333 4.14 0.63C3.351 0.936 2.681 1.347 2.014 2.014C1.347 2.681 0.935 3.35 0.63 4.14C0.333 4.905 0.131 5.775 0.072 7.053C0.012 8.333 0 8.74 0 12C0 15.26 0.015 15.667 0.072 16.947C0.132 18.224 0.333 19.095 0.63 19.86C0.936 20.648 1.347 21.319 2.014 21.986C2.681 22.652 3.35 23.065 4.14 23.37C4.906 23.666 5.776 23.869 7.053 23.928C8.333 23.988 8.74 24 12 24C15.26 24 15.667 23.985 16.947 23.928C18.224 23.868 19.095 23.666 19.86 23.37C20.648 23.064 21.319 22.652 21.986 21.986C22.652 21.319 23.065 20.651 23.37 19.86C23.666 19.095 23.869 18.224 23.928 16.947C23.988 15.667 24 15.26 24 12C24 8.74 23.985 8.333 23.928 7.053C23.868 5.776 23.666 4.904 23.37 4.14C23.064 3.351 22.652 2.681 21.986 2.014C21.319 1.347 20.651 0.935 19.86 0.63C19.095 0.333 18.224 0.131 16.947 0.072C15.667 0.012 15.26 0 12 0ZM12 2.16C15.203 2.16 15.585 2.176 16.85 2.231C18.02 2.286 18.655 2.48 19.077 2.646C19.639 2.863 20.037 3.123 20.459 3.542C20.878 3.962 21.138 4.361 21.355 4.923C21.519 5.345 21.715 5.98 21.768 7.15C21.825 8.416 21.838 8.796 21.838 12C21.838 15.204 21.823 15.585 21.764 16.85C21.703 18.02 21.508 18.655 21.343 19.077C21.119 19.639 20.864 20.037 20.444 20.459C20.025 20.878 19.62 21.138 19.064 21.355C18.644 21.519 17.999 21.715 16.829 21.768C15.555 21.825 15.18 21.838 11.97 21.838C8.759 21.838 8.384 21.823 7.111 21.764C5.94 21.703 5.295 21.508 4.875 21.343C4.306 21.119 3.915 20.864 3.496 20.444C3.075 20.025 2.806 19.62 2.596 19.064C2.431 18.644 2.237 17.999 2.176 16.829C2.131 15.569 2.115 15.18 2.115 11.985C2.115 8.789 2.131 8.399 2.176 7.124C2.237 5.954 2.431 5.31 2.596 4.89C2.806 4.32 3.075 3.93 3.496 3.509C3.915 3.09 4.306 2.82 4.875 2.611C5.295 2.445 5.926 2.25 7.096 2.19C8.371 2.145 8.746 2.13 11.955 2.13L12 2.16ZM12 5.838C8.595 5.838 5.838 8.598 5.838 12C5.838 15.405 8.598 18.162 12 18.162C15.405 18.162 18.162 15.402 18.162 12C18.162 8.595 15.402 5.838 12 5.838ZM12 16C9.79 16 8 14.21 8 12C8 9.79 9.79 8 12 8C14.21 8 16 9.79 16 12C16 14.21 14.21 16 12 16ZM19.846 5.595C19.846 6.39 19.2 7.035 18.406 7.035C17.611 7.035 16.966 6.389 16.966 5.595C16.966 4.801 17.612 4.156 18.406 4.156C19.199 4.155 19.846 4.801 19.846 5.595Z"
            fill="#E4405F"></path>
        </svg>
      </a>
    </li>
    <li class="hover:scale-[1.2] hover:transition-transform">
      <a href="https://www.youtube.com/@orealydev2305/">
        <svg
          width="24"
          height="17"
          viewBox="0 0 24 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M23.498 2.641C23.3624 2.13028 23.095 1.66414 22.7226 1.28926C22.3502 0.91439 21.8858 0.643942 21.376 0.505C19.505 1.19209e-07 12 0 12 0C12 0 4.495 1.19209e-07 2.623 0.505C2.11341 0.644186 1.64929 0.914733 1.27708 1.28958C0.904861 1.66443 0.637591 2.13044 0.502 2.641C0 4.525 0 8.455 0 8.455C0 8.455 0 12.385 0.502 14.269C0.637586 14.7797 0.904975 15.2459 1.27739 15.6207C1.64981 15.9956 2.11418 16.2661 2.624 16.405C4.495 16.91 12 16.91 12 16.91C12 16.91 19.505 16.91 21.377 16.405C21.8869 16.2662 22.3513 15.9957 22.7237 15.6208C23.0961 15.246 23.3635 14.7798 23.499 14.269C24 12.385 24 8.455 24 8.455C24 8.455 24 4.525 23.498 2.641ZM9.545 12.023V4.887L15.818 8.455L9.545 12.023Z"
            fill="#FF0000"></path>
        </svg>
      </a>
    </li>
  </ul>
</div>
